:root {
  --color-siena: #a0522d; /*Color principal de marca, títulos principales*/
  --color-verdeSalvia: #87a96b; /*Acento secundario, sustentabilidad*/
  --color-alabastro: #f5e6d3; /*Fondos principales, fotografía*/
  --color-oro: #d4a437; /*Detalles premium, acentos*/
  --color-rosa: #c47a6d; /*Acentos suaves, detalles femeninos*/
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  min-width: 100%;
  min-height: 100%;
}
body {
  background: #f5e6d3;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 1rem 2rem;
  color: #fff;
}

header img {
  height: 50px;
}

.textoSiena {
  color: var(--color-siena);
}

nav a {
  color: #a0522d;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background: #ffffff;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
}

/* PRODUCTOS */
#presentacion-productos {
  width: 75%;
  margin: 0 auto;
  font-family: sans-serif;
  h1 {
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--color-siena);
  }
  p {
    line-height: 1.6;
    font-weight: 700;
  }
}
#form-search {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
#form-search #search {
  width: 40%;
  border-radius: 1rem;
  outline: 0;
  padding: 0.5rem 1rem;
  border: none;
}
.cargando {
  color: var(--color-siena);
}
#productos-container {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem 0;
}
.articuloDeProducto {
  margin: 0.5rem;
  transition: scale 0.15s linear;
}
.articuloDeProducto:hover {
  scale: 1.03;
}
.articuloDeProducto a {
  cursor: pointer;
  background: #fff;
  width: 10rem;
  height: 23rem;
  display: grid;
  grid-template-rows: 40% 60%;
  border-radius: 1rem;
  text-decoration: none;
  h1 {
    color: brown;
  }
  p {
    color: var(--color-siena);
  }
}
.articuloDeProducto img {
  width: 7em;
  margin: auto;
}
.infoDeArticulo {
  padding: 0 1rem;
  border-top: 2px solid var(--color-alabastro);
}
